# ─── APP ────────────────────────────────────────────
APP_NAME="Laguna Verde"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://gold-curlew-694667.hostingersite.com
APP_LOCALE=es
APP_TIMEZONE=America/Mexico_City

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

# ─── BASE DE DATOS ──────────────────────────────────
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

# ─── CACHÉ Y SESIONES ───────────────────────────────
CACHE_STORE=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax

# ─── COLAS ──────────────────────────────────────────
QUEUE_CONNECTION=sync

# ─── LOGS ───────────────────────────────────────────
LOG_CHANNEL=stack
LOG_STACK=daily
LOG_LEVEL=warning

# ─── FILESYSTEM ─────────────────────────────────────
FILESYSTEM_DISK=public

# ─── LIVEWIRE ───────────────────────────────────────
LIVEWIRE_ASSET_URL=https://gold-curlew-694667.hostingersite.com

# ─── MAIL ───────────────────────────────────────────
MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Laguna Verde"

VITE_APP_NAME="${APP_NAME}"
