/node_modules
/vendor
/public/hot
/storage/*.key
/storage/app/public


.env
.env.*.backup
.env.*.local

Homestead.json
Homestead.yaml

.phpunit.result.cache
phpunit.xml

npm-debug.log
yarn-error.log
pnpm-debug.log

.idea
.vscode
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

composer.phar
